*{
  margin: 0px;
  padding: 0px;
}
.tudo {
  background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8968.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.div {
  max-width: 600px;
  /* Defina um valor apropriado para a largura máxima do formulário */
  margin: 0 auto;
  background-image: u;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 100px;
  box-shadow: 2px 2px 2px 2px rgba(92, 41, 146, 0.655);
  opacity: 0.9; /* Define a opacidade da imagem de fundo */
}


h1 {
  text-align: center;
  color: #e44d26 ;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: rgb(255, 255, 255, 101, 76);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: 4px;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e44d26;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #bf3c20;
  /* Cor destacada mais escura no hover */
}

.Toastify__toast-container {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}