.tudo {
  background-image: url(https://i.pinimg.com/564x/39/12/5a/39125a818e9007e870cb89cfbef857cf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  max-width: 600px;
  /* Defina um valor apropriado para a largura máxima do formulário */
  margin: 0 auto;
  background-image: url(https://i.pinimg.com/564x/08/da/f7/08daf7a75aa48c97b32b4e0f58a0e173.jpg);
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8; /* Define a opacidade da imagem de fundo */
}


h1 {
  text-align: center;
  color: #e44d26;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e44d26;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #bf3c20;
  /* Cor destacada mais escura no hover */
}

.Toastify__toast-container {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}