/* Estilos CSS para o formulário de login com tema de loja de maquiagem */
.tudo{
  background-image: url(https://i.pinimg.com/564x/eb/0d/57/eb0d575f975d07e453af59999d426a41.jpg);
  background-repeat: no-repeat;
}
.div {
  max-width: 400px;
  margin: 0 auto;
  background-image: url(https://i.pinimg.com/564x/08/da/f7/08daf7a75aa48c97b32b4e0f58a0e173.jpg);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #e44d26; /* Cor destacada */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e44d26;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #bf3c20; /* Cor destacada mais escura no hover */
}

.Toastify__toast-container {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}
