<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/estilo.css">
  <title>Listar</title>
</head>
<body>
  <form method="get" action="/usuario/listar">
    <div class="lista">
     <h1>Listagem de Usuarios</h1>

    <% usuarios.forEach((usuario) => { %>
     <p class="nome"><%= usuario.nome%></p>

     <p class="senha"><%= usuario.senha %></p>
    <% }) %>
  </div>
  </form>
</body>
</html>